.contactAddress{
    margin: 4rem 0;
}
.contactAddressWrapper{
    
}
.contactAddressItems{
        display: flex;
        justify-content: space-between;
}
.contactAddressItem{
    display: inline;
    width: 350px;
    border: 1px solid #EDEDED;
    padding: 2rem 1.5rem;
    margin-bottom: 0.7rem;
}
.contactAddressIcons{
    display: block;
    text-align: center;
    position: relative;
}
.contactAddressIconTop{
    
}
.topIcon{
    font-size: 5rem;
}
.contactAddressIconDown{
    display: block;
    position: absolute;
    top: 0;
    left: 53%;
    color: #10ab81;
}
.downIcon{
    font-size: 2rem;
}
.contactAddressContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.8rem 0;
}
.contactAddressTitle{
    font-family: iranBold;
    font-size: 1.8rem;
    font-weight: 500;
    color: #000;
}
.contactAddressText,
.contactAddressTxt{
    font-family: iranLight;
    font-size: 0.9rem;
    color: #5C72A5; 
    margin: 0.3rem 0;   
}
.contactAddressTxt{
    text-align: center;
}


 /*  Media Query  */

 @media only screen and (max-width: 1200px) {
    .container{
        max-width: 960px;
    }
}
@media only screen and (max-width: 992px) {
    .container{
        max-width: 720px;
    }
    .contactAddressItems{
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
@media only screen and (max-width: 768px) {
    .container{
        max-width: 540px;
    }
   
}
@media only screen and (max-width: 576px) {
    .container{
        max-width: 100%;
    }
    .contactAddressItem{
        max-width: 300px;
    }
}