.menuDownNav{
    background-color: #0A9A73;
    height: 9vh;
}
.menuDownNavWrapper{

}
.menuDownNavItems{
    display: flex;
    justify-content: center;
}
.menuDownNavItem{   
    margin: 1rem 1.5rem ;
    list-style: none;
}
.menuDownNavLink{
    text-decoration: none;
    font-family: iranLight;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    transition: all 0.3s linear;
}
.menuDownNavLink:hover{
    color: #000000;
}