.NavDownRes{
    margin: 0.8rem 0;
}
.navDownResWrapper{
    display: block;
   position: relative;
}
.navDownResTitleIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 3rem;
    background-color: #0A9A73;
    color: #fff;
}
.navDownResTitle{   
    font-family: iranBold;
    font-size: 1.2rem;
    font-weight: bold;
}
.navDownResIcon{    
    font-size: 1.1rem;
}

.navDownResItems{
    display: none;  
    width: 100%;
    height: 200px;
    position: absolute;
    border: 1px solid #E5EAEE;
    background-color: #fff;
    overflow-y: scroll;
    z-index: 999;
}
.navDownResMenus{
    list-style: none;
    margin-top: 0.5rem;
    padding: 0 1rem;
}
.navDownResMenu{
    display: block;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #E5EAEE;
}
.navDownResMenuLink{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: iranLight;
    font-size: 1rem;
    font-weight: 700;
    color: #66727D;
    transition: all 0.3s linear;
}
.navDownResMenuLink:hover{
    color: #10ab81;
}
.navDownResMenuIcon{
    margin-left: 0.4rem;
    font-size: 1rem;
}